:root {
    --cor1: #3c7b78;
    --cor2: #5f2c82;
}

body {
    background: linear-gradient(to top, #49a09d, var(--cor2));
}

.card {
    width: 80%;
    height: 280px;
}

.card__image {
    width: 30%;
    height: 100%;
    float: left;
}

.card__login {
    width: 70%;
    float: right;
}

.card__login-title,
.card__form-field,
.card__button {
    margin: 5.5px 0px;
}